NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=rt_express

JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=12h
BCRYPT_SALT_ROUNDS=10

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_admin_password
ADMIN_FULL_NAME=System Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PHONE=0123456789
ADMIN_ADDRESS=Head Office
